.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.wrapper {
    padding: 50px 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    font-size: 50px;
}

.searchInput {
    width: 500px;
    background-color: #fff;
    padding: 10px;
    color: black;
    display: flex;
    border-radius: 30px;
}

.movieInput {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding-left: 20px;
    font-size: 24px;
}

.movieContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}